.btn {
  padding: 10px 20px;
  display: inline-block;
  text-transform: uppercase;
}

.btn-primary {
  background-color: rgba($colour-brand-accent, 0.8);
  color: $text-colour-light;
  transition: background-color 0.5s ease;

  &:hover {
  	background-color: rgba($colour-brand-accent, 1);
  }
}
